@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --red-pizza: #f54749;
    --red-pizza-light: #f5474aca;
    --green-salad: #0c9536;
    --green-salad-light: #0c9535ca;
    --shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

body {
    font-family: 'Rubik', sans-serif;
    /* background-color: #f5f4f6; */
}

.disabled {
    pointer-events: none;
    position: relative;
}
.disabled::before {
    cursor: not-allowed;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-site {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-content: space-between;
}

.header-left {
    grid-column: 1 / 2;
}

.header-between {
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
    text-align: center;
}

#category {
    text-transform: capitalize;
}

.header-right {
    grid-column: 2 / 3;
}

.btn-header {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    padding: 0 .25rem;
}

.btn-header:hover {
    background-color: var(--green-salad);
    border: 1px solid var(--green-salad);
}

.action-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 10px;
    z-index: 10;
    max-height: 500px;
    overflow-y: auto;
}

.btn-header.cart:hover .action-menu-container.cart {
    display: block;
}

.btn-header.orders:hover .action-menu-container.orders {
    display: block;
}

.action-menu {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    box-shadow: var(--shadow);
    background-color: #fff;
}

.action-menu-item {
    /* display: grid;
    grid-template-columns:  minmax(calc(48 + 0.25rem + 12ch), 1fr) 1fr; */
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    white-space: nowrap;
    justify-content: space-between;
}

.action-menu-item-cart {
    /* display: grid;
    grid-template-columns:  minmax(calc(48 + 0.25rem + 12ch), 1fr) 1fr; */
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    white-space: nowrap;
    justify-content: flex-start;
}

.action-menu-item img {
    vertical-align: middle;
    border-radius: 4px;
}

.img-count {
    display: flex;
    align-items: center;
    gap: 0 .25rem;
}

.container-temp > span {
    margin-top: .25rem;
    display: block;
    text-align: left;
}

.info-card-food {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-card-food p {
    margin: 0;
}

.info-card-food span {
    text-align: left;
    font-size: 12px;
}

.info-card-food span b {
    font-size: 12px;
}

.btn-order, .btn-remove {
    border: none;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: 6px;
}

.btn-order {
    background-color: var(--green-salad);
}

.btn-remove {
    background-color: var(--red-pizza);
}

.btn-order:hover {
    background-color: var(--green-salad-light);
}

.btn-remove:hover {
    background-color: var(--red-pizza-light);
}

/* information */

.information-description {
    padding: 0 1rem;
}

.extra {
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    align-items: center;
}

.topping-container {
    position: relative;
}

.topping-container:hover .toppings-list {
    display: block;
}

.toppings-list {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 12;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #dedede;
    padding-left: 0;
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
}

.topping-item {
    padding: .5rem;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.topping-item.active {
    background-color: var(--green-salad);
    color: #fff;
}

.btn-add-toppings {
    border-radius: 12px;
    border: 1px solid #aaa;
    color: #111;
    background-color: transparent;
    padding: .5rem 1rem;
}

.btn-add-toppings span img {
    vertical-align: middle;
}

.services {
    gap: .5rem;
}

.services h3 {
    display: none;
}

#decrement, #increment {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #aaa;
    padding: .5rem;
}

#decrement img, #increment img {
    vertical-align: middle;
}

.sizes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.btn-size {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #aaa;
    padding: 0;
}

.btn-size.active {
    background-color: var(--green-salad);
}

.price-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    padding-top: 1rem;
}

.price h3 {
    margin: 0;
}

.price-buy > span {
    font-weight: bold;
    font-size: 22px;
}

.add-to-cart {
    background-color: var(--red-pizza);
    border: none;
    padding: .25rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}

.add-to-cart span img {
    vertical-align: middle;
    width: 24px;
}

.food-container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-list {
    position: relative;
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3rem;
    right: -3rem;
    display: flex;
    justify-content: space-between;
}

.arrow {
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 50%;
    padding: .25rem;
}

.arrow img {
    vertical-align: middle;
}

.hidden {
    display: none;
}

/* @media screen and (min-width: 790px) {
    .food-container {
        display: inline-flex;
        width: fit-content;
    }
} */
