{% extends 'orders/base.html' %}
{% load poll_extras %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'orders/style.css' %}">
<title>Título</title>
{% endblock %}

{% block body %}
<header class="header-main">
    <div class="header-menu">
        <button class="btn-mobile-menu">
            <img src="{% static 'orders/icons/menu-logo.svg' %}" alt="Menu">
        </button>
    </div>
    <div class="header-location">
        <p>
            <span>
                <img src="{% static 'orders/icons/location-icon.svg' %}" alt="icono de location">
            </span>
            California, US
            <span>
                <img src="{% static 'orders/icons/arrow_down.svg' %}" alt="icono de location">
            </span>
        </p>
    </div>
    <div class="header-profile">
        <img class="profile-image" src="https://randomuser.me/api/portraits/men/89.jpg" alt="Jimmie King" width="42" >
    </div>
</header>
<main>
    <div class="fast-pizza-message" align="center">
        <section class="fast-pizza">
            <div class="fast-pizza-info">
                <h2 class="fast-pizza-title">The fastest in Delivery <span>Food</span></h2>
                <button class="fast-pizza-btn">Order now</button>
            </div>
            <img src="{% static 'orders/images/pizza-draw.svg' %}" alt="">
        </section>
    </div>
    <section class="categories">
        <h3>Categories</h3>
        <ul class="categories-list">
            <li class="categories-item-container">
                <a href="/orders?type=dinner" class="categories-item">
                    <span class="categories-item-image">
                        <img src="{% static 'orders/images/burger-item.png' %}" alt="">
                    </span>
                    <span class="categories-item-name">Dinner</span>
                </a>
            </li>
            <li class="categories-item-container">
                <a href="/orders?type=pizza" class="categories-item">
                    <span class="categories-item-image">
                        <img src="{% static 'orders/images/pizza-item.png' %}" alt="">
                    </span>
                    <span class="categories-item-name">Pizza</span>
                </a>
            </li>
            <li class="categories-item-container">
                <a href="/orders?type=subs" class="categories-item">
                    <span class="categories-item-image">
                        <img src="{% static 'orders/images/pizza-item.png' %}" alt="">
                    </span>
                    <span class="categories-item-name">Subs</span>
                </a>
            </li>
            <li class="categories-item-container">
                <a href="/orders?type=salad" class="categories-item">
                    <span class="categories-item-image">
                        <img src="{% static 'orders/images/salad-item.png' %}" alt="">
                    </span>
                    <span class="categories-item-name">Salad</span>
                </a>
            </li>
            <li class="categories-item-container">
                <a href="/orders?type=pasta" class="categories-item">
                    <span class="categories-item-image">
                        <img src="{% static 'orders/images/salad-item.png' %}" alt="">
                    </span>
                    <span class="categories-item-name">Pasta</span>
                </a>
            </li>
        </ul>
        <section class="popular-now">
            <h3>Popular Now</h3>
            <div class="popular-list">
                {% for food_info in popular_foods %}
                {% with food_info.food_id as food %}
                <a class="popular-item" href="/orders?food_id={{food.id}}">
                    <div class="popular-item-image">
                        <div class="popular-item-categories">
                            <span>{{ food.price_type.capitalize }}</span>
                        </div>
                        <img class="popular-item-img" src="{{ food.image.url }}" alt="Ensalada" width="128">
                    </div>
                    <div class="popular-item-info">
                        <h4 title="{{food.food_name}}">{{food.food_name}}</h4>
                        <p title="{{food.description}}">{{food.description}}</p>
                        <p class="popular-price">
                            <span class="dollar-symbol">
                                <img src="{% static 'orders/icons/money.svg' %}" alt="">
                            </span>
                            {{food.base_price}}
                        </p>
                    </div>
                </a>
                {% endwith %}
                {% endfor %}
            </div>
        </section>
        <section class="popular-now">
            <h3>Pizza</h3>
            <div class="popular-list">
                {% for food in foods %}
                {% if  food.type_food == 'pizza' %}
                <a class="popular-item" href="/orders?food_id={{food.id}}">
                    <div class="popular-item-image">
                        <div class="popular-item-categories">
                            <span>{{ food.price_type.capitalize }}</span>
                        </div>
                        <img class="popular-item-img" src="{{ food.image.url }}" alt="Ensalada" width="128">
                    </div>
                    <div class="popular-item-info">
                        <h4 title="{{food.food_name}}">{{ food.food_name }}</h4>
                        <p title="{{food.description}}">{{food.description}}</p>
                        <p class="popular-price">
                            <span class="dollar-symbol">
                                <img src="{% static 'orders/icons/money.svg' %}" alt="Valor en dolar">
                            </span>
                            {{food.base_price | split_price}}
                        </p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="popular-now">
            <h3>Salads</h3>
            <div class="popular-list">
                {% for food in foods %}
                {% if food.type_food == 'salad' %}
                <a class="popular-item" href="/orders?food_id={{food.id}}">
                    <div class="popular-item-image">
                        <div class="popular-item-categories">
                            <span>{{ food.price_type.capitalize }}</span>
                        </div>
                        <img class="popular-item-img" src="{{ food.image.url }}" alt="Ensalada" width="128">
                    </div>
                    <div class="popular-item-info">
                        <h4 title="{{food.food_name}}">{{food.food_name}}</h4>
                        <p title="{{food.description}}">{{food.description}}</p>
                        <p class="popular-price">
                            <span class="dollar-symbol">
                                <img src="{% static 'orders/icons/money.svg' %}" alt="">
                            </span>
                            {{ food.base_price }}
                        </p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="popular-now">
            <h3>Subs</h3>
            <div class="popular-list">
                {% for food in foods %}
                {% if  food.type_food == 'subs' %}
                <a class="popular-item" href="/orders?food_id={{food.id}}">
                    <div class="popular-item-image">
                        <div class="popular-item-categories">
                            <span>{{ food.price_type.capitalize }}</span>
                        </div>
                        <img class="popular-item-img" src="{{ food.image.url }}" alt="Ensalada" width="128">
                    </div>
                    <div class="popular-item-info">
                        <h4 title="{{food.food_name}}">{{ food.food_name }}</h4>
                        <p title="{{food.description}}">{{food.description}}</p>
                        <p class="popular-price">
                            <span class="dollar-symbol">
                                <img src="{% static 'orders/icons/money.svg' %}" alt="Valor en dolar">
                            </span>
                            {{food.base_price | split_price}}
                        </p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="popular-now">
            <h3>Dinners</h3>
            <div class="popular-list">
                {% for food in foods %}
                {% if  food.type_food == 'dinner' %}
                <a class="popular-item" href="/orders?food_id={{food.id}}">
                    <div class="popular-item-image">
                        <div class="popular-item-categories">
                            <span>{{ food.price_type.capitalize }}</span>
                        </div>
                        <img class="popular-item-img" src="{{ food.image.url }}" alt="Ensalada" width="128">
                    </div>
                    <div class="popular-item-info">
                        <h4 title="{{food.food_name}}">{{ food.food_name }}</h4>
                        <p title="{{food.description}}">{{food.description}}</p>
                        <p class="popular-price">
                            <span class="dollar-symbol">
                                <img src="{% static 'orders/icons/money.svg' %}" alt="Valor en dolar">
                            </span>
                            {{food.base_price | split_price}}
                        </p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="popular-now">
            <h3>Pasta</h3>
            <div class="popular-list">
                {% for food in foods %}
                {% if  food.type_food == 'pasta' %}
                <a class="popular-item" href="/orders?food_id={{food.id}}">
                    <div class="popular-item-image">
                        <div class="popular-item-categories">
                            <span>{{ food.price_type.capitalize }}</span>
                        </div>
                        <img class="popular-item-img" src="{{ food.image.url }}" alt="Ensalada" width="128">
                    </div>
                    <div class="popular-item-info">
                        <h4 title="{{food.food_name}}">{{ food.food_name }}</h4>
                        <p title="{{food.description}}">{{food.description}}</p>
                        <p class="popular-price">
                            <span class="dollar-symbol">
                                <img src="{% static 'orders/icons/money.svg' %}" alt="Valor en dolar">
                            </span>
                            {{food.base_price | split_price}}
                        </p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </section>
</main>
{% endblock body %}
