{% extends 'orders/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'orders/order.css' %}">
<title>Hola Mundo</title>
{% endblock head %}

{% block body %}
<header class="header-site">
    <div class="header-left">
        <img src="{% static 'orders/images/pizzeria-logo.png' %}" alt="Logo de la pizzeria">
    </div>
    <div class="header-between">
        <h1 id="food-name">Loading...</h1>
        <p>Categoria: <span id="category">Loading...</span></p>
    </div>
    <div class="header-right" align="right">
        <div class="btn-header orders">
            <img src="{% static 'orders/icons/category.svg' %}" alt="Categoria">
            <div class="action-menu-container orders">
                <ul class="action-menu">
                    <li class="action-menu-item">
                        <span class="img-count">
                            <img src="/media/orders/images/food/Steak__Cheese.png" width="48" alt="keso">
                            <div class="info-card-food">
                                <p>Silician Pizza</p>
                                <span>Cantidad: <b>8</b></span>
                            </div>
                        </span>
                        <span>
                            <button class="btn-order">In process</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-header cart">
            <img src="{% static 'orders/icons/shopping_cart.svg' %}" alt="Categoria">
            <div class="action-menu-container cart">
                <ul class="action-menu" id="cart-list">
                    <li>Loading...</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="food-info">
    {% comment %} <a href="{% url 'register' %}">
        {{ user }}
    login
    </a> {% endcomment %}
    <article class="information">
        <div class="information-description">
            <h3>Information</h3>
            <p id="description">Loading...</p>
        </div>
        <div class="extra">
            <div class="topping-container" id="toppings-container">
                <button class="btn-add-toppings" id="btn-add-toppings">
                    <span>
                        <img src="{% static 'orders/icons/add.svg' %}" alt="Agregar topping" height="18">
                    </span>
                    Add toppings
                </button>
                <ul class="toppings-list" id="topping-list">
                </ul>
            </div>
            <div class="services">
                <h3>Services</h3>
                <div class="services-count">
                    <button id="decrement">
                        <img height="18" src="{% static 'orders/icons/minus.svg' %}" alt="Quitar cantidad">
                    </button>
                    <span id="quantity">01</span>
                    <button id="increment">
                        <img height="18" src="{% static 'orders/icons/add.svg' %}" alt="Agregar cantidad">
                    </button>
                </div>
            </div>
        </div>
    </article>
    <div class="sizes" id="sizes">
        <button class="btn-size" id="btn-small-size">S</button>
        <button class="btn-size active" id="btn-large-size">L</button>
    </div>
    <div class="price-buy">
        <div class="price">
            <h3>Price</h3>
            <span id="prices">Loading...</span>
        </div>
        <button class="add-to-cart" id="add-cart-btn">
            <span>
                <img src="{% static 'orders/icons/add_shopping_cart.svg' %}" alt="agregar al carrtio">
            </span>
            Add to cart
        </button>
    </div>
    <article class="food-container">
        <div class="arrows">
            <button class="arrow" id="arrow-left">
                <img src="{% static 'orders/icons/arrow_left.svg' %}" alt="Avanza hacia la izquierda">
            </button>
            <button class="arrow" id="arrow-right">
                <img src="{% static 'orders/icons/arrow_right.svg' %}" alt="Avanza hacia la izquierda">
            </button>
        </div>
        <div class="food-list">
            <img id="food-image" src="media/orders/images/food/pizza-pineapple.png" alt="Pizza de agua">
        </div>
    </article>
</section>
{% endblock body %}

{% block scripts %}
<script src="{% static 'orders/order.js' %}"></script>
{% endblock scripts %}
